﻿@model IEnumerable<HouseHelp.Models.HelperModel>
@{
    ViewData["Title"] = "Checklist";
}

<h2>Checklist</h2>

<div class="table table-responsive">
    <table class="table table-responsive table-striped" id="searchTable">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    Age
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Firstname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Religion)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Religion)
                    </td>

                    <td>
                        <a asp-controller="Helper" asp-action="Details" asp-route-id="@item.HelperId">Details</a>&nbsp;&nbsp;&nbsp;
                        <a asp-controller="Helper" asp-action="RemoveFromChecklist" asp-route-id="@item.HelperId">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>