﻿@model HouseHelp.Models.HelperModel

@{
    ViewData["Title"] = "Details";
}

<h2>House Help Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt>
            Language(s)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
             @if (Model.Status.Equals(HouseHelp.AppUtils.HelperStatusEnum.Held))
            {
          
            <span style="color:red">@Html.DisplayFor(model => model.Status)</span>

             }
             else
             {
                  @Html.DisplayFor(model => model.Status)

             }
           
        </dd>
        <dt>
            Date of Birth
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        
        <dt></dt>
        <dd>-</dd>
        <dd>
            <a asp-controller="Guarantor" asp-action="Details" asp-route-id="@Model.ProviderId">Guarantor</a>

        </dd>
        
        

    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to List</a>&nbsp;&nbsp;&nbsp;&nbsp;
    @if (!Model.Status.Equals(HouseHelp.AppUtils.HelperStatusEnum.Held))
    {
        <a asp-controller="Helper" asp-action="AddToList" asp-route-id="@Model.HelperId">Add to my List</a>

    }
</div>
