﻿@model IEnumerable<HouseHelp.Models.HelperModel>
@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="table table-responsive">
    <table class="table table-responsive table-striped">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td style="width:400px">
                    <p style="font-size: larger">
                        @Html.DisplayFor(modelItem => item.Surname)
                        &nbsp;
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </p>
                    <p style="font-size: large">
                        @if(item.Status.Equals(HouseHelp.AppUtils.HelperStatusEnum.Held)){
                       
                            <span style="color: red"> @Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else
                        {

                            <span style="color: forestgreen">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                       
                    </p>
                </td>
                <td>
                    <p style="position: center">
                        @Html.DisplayFor(modelItem => item.Gender)<br />
                        @Html.DisplayFor(modelItem => item.DateOfBirth)<br />
                        @Html.DisplayFor(modelItem => item.Religion)
                    </p>
                </td>
                <td></td>
                <td></td>
                <td>
                    <a asp-controller="Helper" asp-action="Details" asp-route-id="@item.HelperId">Details</a> |
                </td>
                <td></td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
</div>
  


